<ion-header>
  <ion-toolbar>
    <ion-title>
      DIVPIZZA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-searchbar></ion-searchbar>
    <br/><br/>
    <ion-card>
      <ion-card-header>
          <img src="../assets/pizza1.jpg"/>
      </ion-card-header>
        <ion-card-content>
          <ion-card-title>
            Pepperoni com queijo grudante
          </ion-card-title>
          <ion-card-subtitle>
              Pepperoni, lombo, bastante queijo muçarela, cogumelos e um leve toque de azeite trufado e azeitonas.
          </ion-card-subtitle>
          <br/>
          <br/>
          <ion-button color='danger'>
            <ion-icon name='cart' slot='start'></ion-icon>
            Comprar
          </ion-button>
        </ion-card-content>
    </ion-card>
  </div>
</ion-content>
