<ion-header>
  <ion-toolbar>
    <ion-title>
      DIVPIZZA
    </ion-title>
    <ion-buttons slot='primary'>
      <ion-button [routerLink]="['/add-pizza']">
        <ion-icon color='dark'name='add'>
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-searchbar></ion-searchbar>
    <br/><br/>
    <div *ngIf="catalogo !== undefined && catalogo.length > 0">
      <div *ngFor="let pizza of catalogo">
        <ion-card>
          <img src="../assets/pizza1.jpg"/>
        <ion-card-content>
          <ion-card-title>
            {{pizza.nomePizza}}
          </ion-card-title>
          <ion-card-subtitle>
            {{pizza.descricaoPizza}}
          </ion-card-subtitle>
          <div text-left>
            <h1 text-left>
              {{pizza.precoPizza}}
            </h1>
            <div text-left class="ion-margin-top">
              <ion-button text-right color='danger' expand='block'>
                <ion-icon name='cart' slot='start'></ion-icon>
                COMPRAR
              </ion-button>
            </div>
          </div>
        </ion-card-content>
        </ion-card>
      </div>    
    </div>
    
  </div>
</ion-content>
